extends layout
include mixins

block prefetch
	link(rel="prefetch prerender" href="/")
	link(rel="prefetch prerender" href="/resume")
	link(rel="prefetch prerender" href="/contact")

block content
	.progress-container
		.progress-bar#myBar
	block casestudy