doctype html
//- Append OGP
html(Prefix='og: http://ogp.me/ns' lang="en")
	head
		//-prefetch
		link(rel="dns-prefetch" href="//fonts.googleapis.com")
		link(rel="preconnect" href="//vars.hotjar.com")
		link(rel="preconnect" href="//script.hotjar.com")
		link(rel="preconnect" href="//in.hotjar.com")
		title #{title} - kv.ax
		//- OGP Tags
		meta(property='og:title', content=title)
		meta(property='og:site_name', content='kv.ax')
		meta(property='og:url', content='https://kv.ax/')
		meta(property='og:type', content='website')
		meta(property='og:description', content=description)
		meta(property='og:image', content='https://res.cloudinary.com/kvax/image/upload/v1543823808/kv.ax/favicon/android-chrome-512x512.png')
		//- Default variables
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//- SEO
		meta(name='description', content=description)
		//- Favicons and theme
		link(rel="apple-touch-icon", sizes="180x180", href="https://res.cloudinary.com/kvax/image/upload/v1543823809/kv.ax/favicon/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="https://res.cloudinary.com/kvax/image/upload/v1543823809/kv.ax/favicon/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="https://res.cloudinary.com/kvax/image/upload/v1543823809/kv.ax/favicon/favicon-16x16.png")
		link(rel="manifest", href="/site.webmanifest")
		link(rel="mask-icon", href="https://res.cloudinary.com/kvax/image/upload/v1543823809/kv.ax/favicon/safari-pinned-tab.svg", color="#0063ff")
		link(rel="shortcut icon", href="https://res.cloudinary.com/kvax/image/upload/v1543823809/kv.ax/favicon/favicon.ico")
		meta(name="msapplication-TileColor", content="#0063ff")
		meta(name="msapplication-config", content="https://res.cloudinary.com/kvax/image/upload/v1543823809/kv.ax/favicon/browserconfig.xml")
		meta(name="theme-color", content="#0063ff")
		link(rel='stylesheet', href=foldCSS)
		script.
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:1245896,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=')
		block prefetch
	body
		block preloadstyles
		//- Styles
		link(rel='stylesheet', href=globalCSS)
		style(type='text/css').
			@font-face{font-family:wavehaus;font-display:optional;src:url(https://res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-42Light.woff) format("woff");src:url(https://res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-42Light.woff2) format("woff2");font-weight:200}@font-face{font-family:wavehaus;font-display:optional;src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-28Thin.woff) format("woff");src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-28Thin.woff2) format("woff2");font-weight:100}@font-face{font-family:wavehaus;font-display:optional;src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-66Book.woff) format("woff");src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-66Book.woff2) format("woff2");font-weight:400}@font-face{font-family:wavehaus;font-display:optional;src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-95SemiBold.woff) format("woff");src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-95SemiBold.woff2) format("woff2");font-weight:500}@font-face{font-family:wavehaus;font-display:optional;src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-128Bold.woff) format("woff");src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-128Bold.woff2) format("woff2");font-weight:600}@font-face{font-family:wavehaus;font-display:optional;src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-158ExtraBold.woff) format("woff");src:url(//res.cloudinary.com/kvax/raw/upload/v1543310466/fonts/Wavehaus-158ExtraBold.woff2) format("woff2");font-weight:800}@font-face{font-family:Cabin;font-display:optional;font-style:normal;font-weight:500;src:local('Cabin Medium'),local('Cabin-Medium'),url(https://fonts.gstatic.com/s/cabin/v12/u-480qWljRw-PdfD3Ohluyk.woff2) format('woff2')}
		nav
			a.left.nav-item(href="//kv.ax" title="home")
				svg.logo(fill='none', xmlns='http://www.w3.org/2000/svg', viewbox="0 0 20 29")
					path(fill-rule='evenodd', clip-rule='evenodd', d='M18.9521 1.69357c1.1628 1.15213 1.1628 3.01328 0 4.16541l-8.706 8.62622 8.706 8.6263c1.1628 1.1521 1.1628 3.0132 0 4.1654-1.1628 1.1521-3.0411 1.1521-4.2039 0L3.9551 16.5827c-1.16279-1.1521-1.16279-3.0133 0-4.1654L14.7482 1.72311c1.1628-1.152135 3.0411-1.152135 4.2039 0v-.02954zM1.4219 10.8033L11.3752.859009H3.55476C1.59964.859009 0 2.45721 0 4.41056V12.224l1.39228-1.3911.02962-.0296zM1.42197 18.232l9.95333 9.9444H3.55482c-1.95512 0-3.55475896-1.5982-3.55475896-3.5516v-7.8134L1.39234 18.2024l.02963.0296z', fill='#0063FF')
						
			a.nav-item(href="//kv.ax/resume") Resume
			a.nav-item(href="//kv.ax/contact") Contact
		block content
		footer.footer-container
			a(href="https://www.linkedin.com/in/konstantinvelitchko" title="linkedin").footer-icon
				svg.feather.feather-linkedin(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					path(d='M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z')
					rect(x='2' y='9' width='4' height='12')
					circle(cx='4' cy='4' r='2')

			a(href="https://github.com/kv-ax" title="github").footer-icon
				svg.feather.feather-github(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
					path(d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22')

			.footer-text
				span.bold 2018 Konstantin Velitchko 
				| designed and developed by me
		block scripts