extends components/layout

block prefetch
	link(rel="prefetch prerender" href="/resume")
	link(rel="prefetch prerender" href="/contact")
block content
	picture.profile
		source(srcset="https://res.cloudinary.com/kvax/image/upload/v1543616781/kv.ax/profile.webp" type="image/webp")
		img(src="https://res.cloudinary.com/kvax/image/upload/v1543616781/kv.ax/profile.jpg")
	section.container
		.title I'm Konstantin Velitchko
		.subtitle
			:markdown-it(inline)
				I was born in Denmark and raised in the United States
				I love learning and exploring new subjects, 
				Everything from 
				&nbsp; &nbsp; **web development**
				&nbsp; &nbsp; **interaction design**
				to **hardware design**