extends components/layout
include components/mixins

block prefetch
	script(defer src="js/main.min.js")
	link(rel="prefetch prerender" href="/about")
	link(rel="prefetch prerender" href="/resume")

block content
	.progress-container
			.progress-bar#progress
	+section
		+contact('mailto:hello@kv.ax', 'email me @', 'hello@kv.ax')
		+contact('tel:4255984796', 'text me @', '425 598 4796')
		+contact('//www.linkedin.com/in/konstantinvelitchko', 'connect with me on', 'linkedin')
		+contact('//gitlab.com/kv-ax', 'view my projects on', 'gitlab')

	section.container.form
		#form
			#inputContainer
				input#inputField(required multiple type="email")
				span.highlight
				span.bar
				label#inputLabel
		#controls
			#back back
			#next next