extends components/layout
include components/mixins

block prefetch
	link(rel="prefetch prerender" href="/about")
	link(rel="prefetch prerender" href="/coinme")

block content
	section.container
		label#greeting Good afternoon,
		h1.title I'm Konstantin Velitchko
		h2.subtitle
			| I'm a UX Designer and Engineer. I craft 
			span.blue a
			| mbitious e
			span.blue x
			| periences.
		a.bold.blue.link(href="/about") more

	+section
		.cards
			+coinme_card
			+butter_card
			+trip_card
			+charted_card

	section.projects-break-container
		.projects-break-line
		.projects-break-text other projects
		.projects-break-line

	section.projects-list-container
		a(href="#").projects-list-item
			.projects-list-title Skilledtra.de
			.projects-list-subtitle Full Stack
			svg.projects-list-arrow.feather.feather-chevrons-right(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
				polyline(points='13 17 18 12 13 7')
				polyline(points='6 17 11 12 6 7')
		.projects-list-break

	.reach-out-title Reach out to me!
	+contact('mailto:hello@kv.ax', 'email me @', 'hello@kv.ax')
	+contact('tel:4255984796', 'text me @', '425 598 4796')

block scripts
	script.
		let t = new Date().getHours();
		document.getElementById('greeting').textContent = t < 12 ? 'Good morning,' : t >= 12 && t < 17 ? 'Good afternoon,' : 'Good evening,'