doctype html
head
	meta(name='viewport' content='width=device-width')
	meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
	title Thanks #{name}!
	style.
		@media only screen and (max-width: 620px) {
		table[class=body] h1 {
		font-size: 28px !important;
		margin-bottom: 10px !important;
		}
		table[class=body] p,
		table[class=body] ul,
		table[class=body] ol,
		table[class=body] td,
		table[class=body] span,
		table[class=body] a {
		font-size: 16px !important;
		}
		table[class=body] .wrapper,
		table[class=body] .article {
		padding: 10px !important;
		}
		table[class=body] .content {
		padding: 0 !important;
		}
		table[class=body] .container {
		padding: 0 !important;
		width: 100% !important;
		}
		table[class=body] .main {
		border-left-width: 0 !important;
		border-radius: 0 !important;
		border-right-width: 0 !important;
		}
		table[class=body] .btn table {
		width: 100% !important;
		}
		table[class=body] .btn a {
		width: 100% !important;
		}
		table[class=body] .img-responsive {
		height: auto !important;
		max-width: 100% !important;
		width: auto !important;
		}
		}
		/* -------------------------------------
		PRESERVE THESE STYLES IN THE HEAD
		------------------------------------- */
		@media all {
		.ExternalClass {
		width: 100%;
		}
		.ExternalClass,
		.ExternalClass p,
		.ExternalClass span,
		.ExternalClass font,
		.ExternalClass td,
		.ExternalClass div {
		line-height: 100%;
		}
		.apple-link a {
		color: inherit !important;
		font-family: inherit !important;
		font-size: inherit !important;
		font-weight: inherit !important;
		line-height: inherit !important;
		text-decoration: none !important;
		}
		.btn-primary table td:hover {
		background-color: #34495e !important;
		}
		.btn-primary a:hover {
		background-color: #34495e !important;
		border-color: #34495e !important;
		}
		}
table.body(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;')
	tr
		td(style='font-family: sans-serif; font-size: 14px; vertical-align: top;') &nbsp;
		td.container(style='font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;')
			.content(style='box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;')
				// START CENTERED WHITE CONTAINER
				span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') I got your message! I'll reply to you as soon as I can.
				table.main(style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;')
					// START MAIN CONTENT AREA
					tr
						td.wrapper(style='font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;')
							table(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;')
								tr
									td(style='font-family: sans-serif; font-size: 20px; vertical-align: top;')
										p(style='font-family: sans-serif; font-size: 20px; font-weight: normal; margin: 0; Margin-bottom: 15px;') Hi there 
											b #{name}
											| ,
										p(style='font-family: sans-serif; font-size: 20px; font-weight: normal; margin: 0; Margin-bottom: 15px;')
											| Your message came through and you should expect to hear from me pretty soon. Below is what you sent me:
										pre(style='word-wrap: break-word; font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px; Margin-left: 20px')= message
					// END MAIN CONTENT AREA
				// START FOOTER
				.footer(style='clear: both; Margin-top: 10px; text-align: center; width: 100%;')
					table(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;')
						tr
							td.content-block(style='font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;')
								span.apple-link(style='color: #999999; font-size: 12px; text-align: center;') Konstantin Velitchko, Sammamish, WA
				// END FOOTER
				// END CENTERED WHITE CONTAINER
		td(style='font-family: sans-serif; font-size: 14px; vertical-align: top;') &nbsp;
