extends ../components/casestudy

block casestudy

	+hero('Butter Home', 'A retro home decor shoppping experience.', ['//res.cloudinary.com/kvax/image/upload/v1543432726/kv.ax/butter.webp', '//res.cloudinary.com/kvax/image/upload/v1543432726/kv.ax/butter.png'])

	+section
		+title('Problem')
		+paragraph('I observed that butter home’s website is poorly categorized and has many features that don’t work. This was causing users to leave the site in frustration. How could I improve the site to increase user conversion?')

	+timeline(
			['Discovery',					['Competitive Analysis', 'Observation']]
		,	['Research',					['Persona building',	'User research'],												'#research']
		,	['Information Architecture',	['Open/Closed card sort', 'User Flows'],												'#info']
		,	['Wireframing',					['Initial Sketches',	'Contextual Inquiry',	'Wireframes',	'Usablity Testing'],	'#wireframes']
		,	['Visual Design',				['High fidelty mockups'],																'#visual']
	)

	+logistics(
			[['Researcher', []], ['Information Architect', []], ['Interaction Designer', []], ['Visual Designer', []]]
		,	[]
		,	['October 1st - October 12th 2018']
	)

	+section('research')
		+title('Research')
		+subtitle('Competitive Analysis')
		+paragraph('To find out how Butter Home compared with other home decor stores in the area, I compared how easy it was to find them based on keywords. I also took a look at each sites features to conduct a feaure audit. ')

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543622463/Screen_Shot_2018-11-30_at_4.07.04_PM.webp', '//res.cloudinary.com/kvax/image/upload/v1543622883/Screen_Shot_2018-11-30_at_4.07.04_PM.png']
		)

	+section
		+paragraph('While their site lacked functionality and had poor visual design, what it struggled from the most was how the store\'s inventory was categorized')
		+subtitle('Persona')
		+paragraph('My class was given a list of personas to apply to our selected website. I went with the one that most represented the customers that I observed in their physical location. Based off that I was able to make a descion as to what needed to be focused on.')
		+subtitle('Card sorts')
		+paragraph('I conducted a closed card sort with the site\'s online inventory to see how users that fit the persona would categorized the items.')

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543624033/Screen_Shot_2018-11-30_at_4.26.58_PM.webp', '//res.cloudinary.com/kvax/image/upload/v1543624033/Screen_Shot_2018-11-30_at_4.26.58_PM.png']
		)

	+section
		+paragraph('After I narrowed down the categories to just five groupings, I ran an additional card sort, closed this time to learn more about what specific items would be group together.')
	
		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543624274/Screen_Shot_2018-11-30_at_4.31.04_PM.webp','//res.cloudinary.com/kvax/image/upload/v1543624274/Screen_Shot_2018-11-30_at_4.31.04_PM.png']
		)

	+section
		+subtitle('Solution')
		+paragraph('A better categorization of the items, as well as a more direct approach to the store’s inventory.')

	+section('info')
		+title('Information Architecture')
		+paragraph('I sketched out what the current navigation for Butter Home was, what I found was that there was a very simple navigation, that was overshadowed by an overabundance of shadows. ')

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543623205/Sitemap.webp','//res.cloudinary.com/kvax/image/upload/v1543623205/Sitemap.png']
		)

	+section
		+paragraph('I redesigned the sitemap to better accomadate users with a filter function that would sort all the items in just 5 seperate categories that I compiled from my research phase. The secondary pages such as contact us or legal were isolated from the main page so as to not overburden the user with choices they were likely not choose.')

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543623528/Screen_Shot_2018-11-30_at_4.18.30_PM.webp','//res.cloudinary.com/kvax/image/upload/v1543623528/Screen_Shot_2018-11-30_at_4.18.30_PM.png']
		)

	+section(wireframes)
		+title('Wireframes')
		+subtitle('Preliminary Sketches')
		+paragraph(
				'I wanted to design for mobile first since that\'s what my persona used and needed from her products.'
			,	'I had an idea in mind of an single page application that would allow the shopping experience to be more streamlined.'
			,	'With all this I was able to start sketching, and I focused on consoldidating the 5 categories into a tab bar.')

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543624711/Screen_Shot_2018-11-30_at_4.38.14_PM.webp','//res.cloudinary.com/kvax/image/upload/v1543624711/Screen_Shot_2018-11-30_at_4.38.14_PM.png']
		)

	+section
		+subtitle('Contextual Inquiry')
		+paragraph(
				'With my sketches in hand I was able to conduct the first of three wireframes.'
			,	'Users struggled to understand the filter button\'s icon and what it meant, the wireframes in general had too much ambiguity.'
		)

	+section
		+subtitle('Testing Second Wireframes')
		+paragraph(
				'Now that I knew the issues with my initial wireframes, I recreated them digitally for finer tuning, I had added more details such as a clear description underneath images, as well as a more apparent category selection.'
			,	'I worried that users might not be able to interpret the icons for what they are, but considering how small a mobile screen is, fitting text where the icons where would have been too small. In hindsight I could have put text under each icon as an insurance, but that wouldn\'t have been an ideal solution.'
		)

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1560401949/kv.ax/butterhome/Screen_0_Home.webp', '//res.cloudinary.com/kvax/image/upload/v1560401949/kv.ax/butterhome/Screen_0_Home.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Screen_0.1m_product_page_modal.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Screen_0.1m_product_page_modal.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Screen_0.2m_filter_modal.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Screen_0.2m_filter_modal.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Screen_1.3_Checkout.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Screen_1.3_Checkout.png']
		)

	+section
		+subtitle('Testing Last Wireframes')
		+paragraph(
				'I added more fidelty in the form of text, but only in places where users would be confused as to what a paticular action could be.'
			,	'I made the indivual product images into product cards so that its more apparent at first glance what the product is, how much it costs, and whether or not you would want it. I also consolidated the category buttons behind a filter button since the category buttons just led to confusion.'
			,	'In my second wireframes I had a pull down from the top to display legal, contact, and location screens. The issue with this is that it might interfere with the pull down to refresh functionality. I changed this to an expandable pill button.'
			,	'During testing it was apparent that my fidelty of wireframes still needed some work, though this time results were much more satisfactory and users only asked what something was after they used it as intended.'
		)

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1560401949/kv.ax/butterhome/iter3home.webp', '//res.cloudinary.com/kvax/image/upload/v1560401949/kv.ax/butterhome/iter3home.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/iter3filter.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/iter3filter.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/iter3product.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/iter3product.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/iter3checkout.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/iter3checkout.png']
		)

	+section('visual')
		+title('Visual Design')
		+subtitle('Design Analysis + Styleguide')
		+paragraph(
				'The sites color choice wasn\'t very evident, they had two colors, white and a light green (which fails the contrast test). I did notice their brick and mortar location used a lot of warm lights and was in melrose market, whose primary color was yellow. Yellow is energetic and joyful, which for a store that describes itself as elcletic and funky, works well. '
			,	'I went with a readable sans font as to not increase cognitive load, and used the yellow sparingly as an accent color. Everything had soft corners and noticeable drop shadows to give off a retro and welcoming look.'
		)
		+subtitle('Visual Comps')
		+paragraph('When creating my visual compositions I chose to include the category buttons again, except this time they served more of a visual indicator of what categories were currently selected. This is an excellent opportunity to test to see how users would respond.')

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1560401949/kv.ax/butterhome/Home.webp', '//res.cloudinary.com/kvax/image/upload/v1560401949/kv.ax/butterhome/Home.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Filter.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Filter.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Product_Page.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Product_Page.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Contact.webp', '//res.cloudinary.com/kvax/image/upload/v1560404054/kv.ax/butterhome/Contact.png']
		)

	+section
		+title('Links')
		+link('//www.butterhomeseattle.com', 'butter home')(target='_blank')

	+section
		+title('Other Projects')

	section: .cards
		+coinme_card
		+trip_card
		+charted_card
		+sme_card