extends ../components/casestudy

block casestudy

	+hero('Coinme Wallet Redesign', 'Keeping all your alt coins in the same place.', ['https://res.cloudinary.com/kvax/image/upload/c_scale,w_1200/v1543866826/kv.ax/coinme/Team_Photo.webp', 'https://res.cloudinary.com/kvax/image/upload/c_scale,w_1200/v1543866826/kv.ax/coinme/Team_Photo.jpg'])

	+section
		+title('Problem')
		+paragraph('Coinme approached us with a task in mind, to redesign their current wallet interface to include functionality that they were building out.')

	+timeline(
			['Defining Scope',				['Problem Statement',		'Hypothesis',			'Competitive Analysis']]
		,	['Research',					['Stakeholder Interviews',	'Contextual Inquiry',	'Competitive Element',	'User Interviews',			'Validating Personas'],																				'#research']
		,	['Information Architecture',	['User Flows',	'Task Flows',	'Card Sort',	'Content Strategy'],																																		'#info']
		,	['Wireframing',					['Initial Sketches',		'Contextual Inquiry',	'Wireframe V.1',		'Usability test on V.1',	'Wireframe V.2',		'Usability test on V.2',	'Wireframe V.3',	'Usability test on V.3'],	'#wireframes']
		,	['Visual Design',				['Design Analysis',			'UI Styleguide',		'Visual Comps'],																																		'#visual']
	)

	+logistics(
			[['Interaction Designer',	['Wireframes', 'Usability Testing']]]
		,	['1 Researcher',	'1 Information Architect',	'1 Interaction Designer',	'1 Visual Designer']
		,	['October 30th - Novemver 16th 2018']
	)

	+section('research')
		+title('Research')
		+subtitle('Competitive Analysis')
		+paragraph(
				'Spearheaded by Brandon, our researcher, our team analyzed several competing companies and what they offered to customers that we could offer our customers as well.'
			,	'Price data ended up being something stakeholders mentioned that was validated by our competitors.'
		)
		+subtitle('User Testing')
		+paragraph('Led by Brandon, we found that competitors had the advantage of being more established, but they lacked low fees and consolidation of all the alt coins in one place.')

	+section('info')
		+title('Information Architecture')
		+paragraph('Our information architect conducted several card sorts and created user flows to then guide how we made our sitemap hierarchy.')

	+section('wireframes')
		+title('Wireframes')
		+subtitle('Preliminary Sketches')

		+imagecard(
					['//res.cloudinary.com/kvax/image/upload/c_scale,h_750/v1543861811/kv.ax/coinme/sketch.webp', '//res.cloudinary.com/kvax/image/upload/c_scale,h_750/v1543862351/kv.ax/coinme/sketch.jpg']
		)

	+section
		+paragraph(
				'Keeping in mind what our information architect had gathered through card sorts, what the sitemap hierarchy should look like, and what competitor’s designs looked like, I started sketching rough UI screens.'
			,	'I struggled coming up with anything however, while it’s important to stick with conventions other competitors used, we needed unique elements to position Coinme in a more competitive way.'
			,	'I analyzed over 30 different admin dashboard designs to find UI patterns and common interactions and which I was able to implement in my initial sketches.'
		)
		+subtitle('Testing Navigation')
		+paragraph(
				'I had designed two different navigations systems, one involved a vertical navigation, which adheres better to <a href="https://www.nngroup.com/articles/horizontal-attention-leans-left/" class="link blue">Nielsen Norman group’s guidelines</a> as to how to position content. Because we read in a F pattern, a vertical navigation is ideal to locating what you need to find without spending too much time on needed elements.'
			,	'The other design was the much more conventional horizontal navigation. While it wasn’t ideal for users, it was what most users expected. So to validate one or the other design, Brandon led a user test to find which design users preferred.'
			,	'I ended up selecting the horizontal navigation because that’s what users ended up finding more intuitive.'
		)

		+imagecard(
					['//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinmenavwire1.webp', '//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinmenavwire1.png']
				,	['//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinmenavwire2.webp', '//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinmenavwire2.png']
		)

	+section
		+subtitle('Testing Initial Wires')
		+paragraph(
				'My initial wireframes had some abstracsut placeholders that I later iterated on to include more detail and be more explanatory.'
			,	'Users were pretty comfortable with the first prototype as it was, however there was definitely areas that could have been improved. For example, some of the users weren’t entirely clear on what their total balance across all alt coins was.'
			,	'Users also had a tendency to ignore visual cues and calculate totals in their hand. Which is really high on cognitive load.'
		)

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme0.1.webp', '//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme0.1.png']
		)

	+section
		+subtitle('Testing Second Wires')
		+paragraph(
				'I shrunk the size of the selected card as that’s what users tended to dwell on. By decreasing the size of it, the importance and visual weight was less so.'
			,	'I added an accounts page to facilitate the process of sending/receiving. Buying/selling was validated during the last user testing to be a good process.'
			,	'We uncovered that users struggled to find what specific cryptocurrency they were on, after we had decreased the selected cryptocurrency card'
		)

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme1.0.webp', '//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme1.0.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme1.1.webp', '//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme1.1.png']
		)

	+section
		+subtitle('Testing Last Wires')
		+paragraph(
				'Though only one user was unclear on what cryptocurrency they were on, I had thought of a very simple visual aid to help distinguish what is selected, while not distracting the user. I just increased the contrast of the card.'
			,	'While communicating with our information architect we decided to rename accounts to wallets to better guide the users as to what part of the site they’re on.'
			,	'We moved the portfolio total to the portfolio overview as the position it was in before led to confusion.'
			,	'We validated all user tasks with our final wires.')

		+imagecard(
				['//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme2.0.webp', '//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme2.0.png']
			,	['//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme2.1.webp', '//res.cloudinary.com/kvax/image/upload/v1543434147/kv.ax/coinme/coinme2.1.png']
		)

	+section('visual')
		+title('Visual Design')
		+subtitle('Design Analysis + Styleguide')
		+paragraph('Because our client did not have a fully fleshed out branding style, our visual designer focused her efforts on branding Coinme according to what they represent.')
		+subtitle('Visual Comps')
		+paragraph('Using my wireframes, our visual designer created high fidelity mockups of the final UI to present to stakeholder. ')

	+section
		+title('Links')
		+link('//coinme.com', 'coinme')(target='_blank')
		+link('/coinme-pdf', 'PDF')(target='_blank')

	+section
		+title('Other Projects')

	section: .cards
			+butter_card
			+trip_card
			+charted_card
			+sme_card