//
//	CARDS
//

.cards
	display: flex
	justify-content: space-evenly
	flex-wrap						wrap
	width							100%
	margin							3vh 0
.card
	display							flex
	flex-direction					column
	height							40vh
	width							calc((21/34)*40vh)
	padding							0
	margin							2vmax
	border-radius					3%
	box-shadow						0 2vh 2vh rgba(0, 0, 0, .08)
	-webkit-transition				all 250ms cubic-bezier(.02, .01, .47, 1)
	-moz-transition					all 250ms cubic-bezier(.02, .01, .47, 1)
	transition						all 250ms cubic-bezier(.02, .01, .47, 1)
	position						relative

.card:hover
	box-shadow						0 4vh 4vh rgba(0, 0, 0, 0.16)
	transform						translate(0, -2vh)
	transition-delay				0s !important
	&:after
		position					absolute
		content						""
		width						100%
		top							0
		left						0
		bottom						-2vh
		z-index						-1
	.card-img:before
		opacity 0
		transition	1s
	

.card-img
	//flex							2
	margin							0
	max-height							70%
	background-repeat				no-repeat
	background-position				center
	background-size					cover
	border-top-right-radius			3%
	border-top-left-radius			3%
	position						relative
	&:before
		content						''
		position					absolute
		top							0
		right						0
		bottom						0
		left						0
		background-image			linear-gradient(to bottom, rgba(255,255,255,.5), rgba(255, 255, 255, 0))
		z-index						1
		transition					1s

.card-img-src
	border-top-right-radius			3%
	border-top-left-radius			3%
	object-fit						cover
	height							100%
	width							100%

.card-img:after
	content							''
	width							0
	display							block
	position						absolute
	border-bottom					0.3vh solid $primary !important
	transition						0.4s ease
	bottom							0
	z-index 2

.card-info
	flex							2
	display							flex
	flex-direction					column
	justify-content					center
	align-items						flex-start
	min-height							30%
	padding-left					10%
	padding-right					10%
	width							100%
	border-bottom-right-radius		3%
	border-bottom-left-radius		3%
	box-sizing						border-box

.card-title
	font-size: calc(0.8rem + 0.4vw)
	font-weight: 600

.card:hover .card-title
	color							$primary
	transition						0.4s ease

.card:hover .card-img:after
	width							100%

.card-tag
	background-color			#1a73ff
	color						#fff
	padding						1% 3%
	border-radius				5%
	font-size					calc(0.55rem + 0.4vw)
	font-weight						600
	position					absolute
	top							0
	z-index						2
	margin						1vh 0.5vw

.card-byline
	font-size						calc(0.5rem + 0.4vw)
	font-weight						600
	color							$text-light