@import 'style'
@import 'cards'

.title
	margin-top			6vh

.paragraph
	font-family			wavehaus
	font-weight			500
	margin-top			3vh
	font-size			1.2rem
	color				$paragraph

.paragraph .link
		display			inline-block
.flex
	display				inline-flex
	justify-content		space-evenly
	flex-wrap			wrap
	width				100%
	padding-top			2vh

.flex .bold
	padding				1vmax

.flex .grey
	padding-top			1vh

.indent
	text-indent			3rem

.timeline
	align-items			center
	margin-bottom		30vh
	width				100%
	flex-wrap			wrap
	margin-top			5vh

.line
	flex				1
	width				calc((100%-(2vmax*6))/6)
	height				0.3vmax
	background-color	$grey
	top					20vh


.line:before
	content				""
	display				inline-block

.circle
	height				2vmax
	width				2vmax
	border-radius		50%
	border				0.3vmax solid $grey

.circle:before
	content				""
	display				inline-block

.descriptor
	font-size			1vmax
	font-weight			bold
	margin-top			-5vh
	text-align			center
	color				$text-dark

.timelinetext
	font-size			1vmax
	padding-top			5vh

#logistics .flex
	justify-content		space-between
#logistics .flex .bold
	padding				2vh 0

.imagecard
	display				flex
	flex-direction		column
	padding				0
	min-width				30vw
	margin				6vh 0
	box-shadow			0 1vh 1vh rgba(0, 0, 0, .08)
	-webkit-transition	all 250ms cubic-bezier(.02, .01, .47, 1)
	-moz-transition		all 250ms cubic-bezier(.02, .01, .47, 1)
	transition			all 250ms cubic-bezier(.02, .01, .47, 1)
	flex-wrap			wrap

@media (min-aspect-ratio 1/1)
	.imagecard
		min-width		30vw

.cardimg
	object-fit			contain
	max-height			70vh

@media (max-aspect-ratio 1/1)
	.imagecard
		width			70vw

.cardimg
	flex				2
	width				100%
	height				auto
	margin				0
	background-repeat	no-repeat
	background-size		contain
	position			relative

.link
	font-weight			600
	font-size			1.25rem
	width				fit-content
	display				block
.timelinetext .grey:hover
		color				$primary
.link:after 
	content				''
	display				block
	border-bottom		0.3vh solid $primary
	width				0
	-webkit-transition	0.4s ease
	transition			0.4s ease

.link:hover:after
	width				100%

a.line:hover
	color				$primary
	background-color	$primary

@media (prefers-color-scheme: dark)
	.card
		box-shadow		0 2vh 2vh rgba(222,222,222,0.12)
	.card:hover
		box-shadow		0 2vh 2vh rgba(222,222,222,0.24)
	.paragraph
		color				$paragraph-dark
	.grey
		color				$grey-dark

.container-accent
	display				inline-flex
	flex-direction		column
	width				100%
	height: 			100%
	padding				0 4vw
	margin				2vh -4vw 0 -4vw
	background-color	$pure-black
	color				$text-dark

@media (prefers-color-scheme: dark)
	.container-accent
		background-color $pure-white
		color			$text
	.descriptor
		color			$text
	.timelinetext .grey
		color			$dark-grey
	.circle
		border				0.3vmax solid $dark-grey
	.line
		background-color: $dark-grey